.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto

README.html


# Code/

## Exclude R script for conducting simulation on personal computer
Code/01_S1-conduct-simulation.R

## Exclude shell script showing how to obtain simulation output from TACC
Code/01_S1-obtain-sim-output.sh

## Exclude script uploading project to OSF
Code/07_000_upload-files-to-OSF.R

## Exclude Archive & Sandbox
Code/Archive/
Code/Sandbox/


# Functions/

## Exclude Archive 
Functions/Archive/
Functions/Archive.zip


# Output/

## Exclude entire Output_mediator_ClusterData folder 
Output/Output_mediator_ClusterData/

## Exclude Archive folder in S1_Simulation-Output/
Output/S1_Simulation-Output/Archive/

## Ignore backups & pop-data folders in 2025-10-22_1000-reps/
Output/S1_Simulation-Output/2025-10-22_1000-reps/backups/
Output/S1_Simulation-Output/2025-10-22_1000-reps/pop-data/

## Exclude Archive folder in S1_Results/
Output/S1_Results/Archive/


# Application/

## Exclude Archive folders 
Application/Code/Archive/
Application/Functions/Archive/

